* {
  margin: 0;
  /* font-family: 'Gowun Dodum', sans-serif; */
  font-family: 'Do Hyeon', sans-serif;
}

.main_title {
  width: 100%;
  height: 250px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_title>h1 {
  font-size: 60px;
  transition: .4s;
}

.main_title>h1:hover {
  color: rgba(225, 223, 220, 0.662)
}

.search_box {
  width: 300px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#btn_insert {
  width: 100px;
  margin: auto;
}

#btn_insert input {
  background-color: white;
  font-size: 30px;
  border: none;
  transition: .4s;
}

#btn_insert input:hover {
  color: rgba(255, 223, 182, 0.705);
}

.search_bar {
  max-width: 1000px;
  width: 80%;
  border: 1px solid #333;
  margin-right: 0;
}

.search_btn {
  max-width: 100px;
  width: 20%;
  border: 1px solid #333;
  background-color: transparent;
  margin-left: 0;
}

.pagination {
  max-width: 700px;
  width: 40%;
  margin: 20px auto 20px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card_box {
  max-width: 1600px;
  width: 90%;
  height: 700px;
  margin: auto;
}

.in_card_image {
  max-height: 600px;
  height: 35%;
  margin: 10px auto 0 auto;
}

.card-title {
  font-size: x-large;
}

.col {
  font-size: medium;
  display: block;
  height: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.col .card img{
  object-fit: cover;
}
.in_modal_image {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  margin: auto;
}
#toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: .5s
}

#toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  background: #333;
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  background: #333;
  transform: translateY(5px);
  transition: 0.2s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
  background: #888;
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
  background: #888;
}

#sidebar {
  position: fixed;
  top: 0;
  transform: translateX(0px);
  right: -300px;
  width: 330px;
  height: 100vh;
  background: white;
  transition: 0.4s;
  z-index: 1;
}

#sidebar.active {
  transform: translateX(-300px);
}

#sidebar ul {
  position: relative;
  margin-top: 80px;
}

#sidebar ul li {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 10px 40px;
  transition: .4s;
}

#sidebar ul li a {
  color: #333;
  font-size: 1.5em;
  text-decoration: none;
  letter-spacing: 2px;
  transition: .4s;
}

#sidebar ul li a:hover {
  color: #333;
}

.txt_field {
  margin: 15px;
}

.txt_field input {
  float: right;
  margin-right: 110px;
}

#isloggedin {
  font-size: 10px;
}

#page-title {
  width: 100px;
  margin: auto;
}
#page-subtitle {
  width: 535px;
  margin: 40px auto;
}
#page-title h1 {
  color: #666;
  font-size: 40px;
}
#login-tab, #signup-tab{
  color: black
}
#developers{
  width:800px;
  margin: auto
}
#developers ul{
  list-style: none;
}

#developers ul li{
  float: left;
}
#developers ul li img{
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgba(178, 178, 178, 0.708);
  vertical-align: top;
  margin: 10px

}
#developers ul li div{
  width: 150px;
  margin: auto;
}
#developers ul li div a{
  vertical-align: bottom;
  text-decoration: none;
  color: black;
  transition: .4s;
  font-size: 20px;
  width: 150px;
  margin: 15px;
}
#developers ul li a:hover{
  color: rgba(255, 223, 182, 0.705);
}
#info{
  width: 300px;
  margin: auto;
  color: rgba(58, 148, 238, 0.86);
}

#commentsList > li {
}

#commentsList > button {
  float: right;
  margin-left: 660px;
}